---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Prose from "@comp/starwind/prose";
import { Tabs, TabsContent, TabsList, TabsTrigger } from "@comp/starwind/tabs";
import { site } from "@data/site";

const title = `Career — ${site.name}`;
const description = `Career at ${site.name}`;

const positions = [
  {
    title: "UX Designer",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.",
    department: "Designers",
    location: "Bishkek",
    contractType: "Part-time",
  },
  {
    title: "Junior Frontend Developer",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.",
    department: "Software Engineers",
    location: "Bishkek",
    contractType: "Full-time",
  },
  {
    title: "Senior Backend Engineer",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.",
    department: "Software Engineers",
    location: "Osh",
    contractType: "Contract",
  },
  {
    title: "HR Copywriter",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.",
    department: "Copywriters",
    location: "Bishkek",
    contractType: "Part-time",
  },
  {
    title: "Product Analytic",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.",
    department: "Analytics",
    location: "Osh",
    contractType: "Full-time",
  },
];

const departments = [...new Set(positions.map((position) => position.department))];
---

<BaseLayout title={title} description={description}>
  <article class="content">
    <Prose>
      <h1>Open positions</h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
      </p>

      <Tabs defaultValue="all" class="not-sw-prose">
        <TabsList>
          <!-- "All" tab -->
          <TabsTrigger value="all">All</TabsTrigger>

          <!-- Other tabs -->
          {
            departments.map((department) => (
              <TabsTrigger value={department.toLowerCase().replaceAll(" ", "-")}>{department}</TabsTrigger>
            ))
          }
        </TabsList>

        <!-- All contents -->
        <TabsContent value="all">
          {positions.map((position) => <p>{position.title}</p>)}
        </TabsContent>

        <!-- Contents by tab -->
        {
          departments.map((department) => (
            <TabsContent value={department.toLowerCase().replaceAll(" ", "-")}>
              {positions
                .filter((position) => position.department === department)
                .map((position) => (
                  <p>{position.title}</p>
                ))}
            </TabsContent>
          ))
        }
      </Tabs>
    </Prose>
  </article>
</BaseLayout>
