---
import BaseLayout from "@/components/layouts/BaseLayout.astro";
import JobCard from "@/components/open-roles/JobCard.astro";
import type { Job } from "@/components/open-roles/JobCardTypes";
import Prose from "@/components/starwind/prose";
import {
  Select,
  SelectContent,
  SelectGroup,
  SelectItem,
  SelectSearch,
  SelectTrigger,
  SelectValue,
} from "@/components/starwind/select";
import { site } from "@/content/site";
import { getCollection } from "astro:content";

const title = `Open roles — ${site.name}`;
const description = `Open roles at ${site.name}`;

const jobs: Job[] = (await getCollection("jobs")).map((job) => ({ id: job.id, ...job.data }));
const departments: string[] = [...new Set(jobs.map((job) => job.department))];
const locations: string[] = [...new Set(jobs.map((job) => job.location))];
---

<BaseLayout title={title} description={description}>
  <article class="content">
    <Prose>
      <h1>Open positions</h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
      </p>

      <Select id="department-filter" name="department" defaultValue="All" class="not-sw-prose">
        <SelectTrigger class="w-60">
          <SelectValue placeholder="Select a department" />
        </SelectTrigger>
        <SelectContent>
          <SelectSearch placeholder="Search departments..." emptyText="No department found." />
          <SelectGroup>
            <SelectItem value="All">All</SelectItem>
            {departments.map((department: string) => <SelectItem value={department}>{department}</SelectItem>)}
          </SelectGroup>
        </SelectContent>
      </Select>

      <Select id="location-filter" name="location" defaultValue="All" class="not-sw-prose">
        <SelectTrigger class="w-60">
          <SelectValue placeholder="Select a location" />
        </SelectTrigger>
        <SelectContent>
          <SelectSearch placeholder="Search locations..." emptyText="No location found." />
          <SelectGroup>
            <SelectItem value="All">All</SelectItem>
            {locations.map((location: string) => <SelectItem value={location}>{location}</SelectItem>)}
          </SelectGroup>
        </SelectContent>
      </Select>

      <div id="open-roles">
        {jobs.map((job) => <JobCard job={job} data-department={job.department} data-location={job.location} />)}
      </div>
    </Prose>
  </article>
</BaseLayout>

<script>
  import type { SelectChangeEvent } from "@/components/starwind/select/SelectTypes";

  // Variables

  const openRoles = document.getElementById("open-roles");
  const jobCards = openRoles?.querySelectorAll<HTMLElement>("[data-department]");

  const filters = {
    department: "",
    location: "",
  };

  // Functions

  function renderJobs() {
    const department = filters.department.trim();
    const location = filters.location.trim();

    jobCards?.forEach((card) => {
      const departmentData = card.getAttribute("data-department");
      const locationData = card.getAttribute("data-location");

      const departmentsMatch = !department || department === "All" || departmentData === department;
      const locationsMatch = !location || location === "All" || locationData === location;
      const cardVisible = departmentsMatch && locationsMatch;

      card.style.display = cardVisible ? "" : "none";
    });
  }

  // Calls and Events

  renderJobs();

  document.getElementById("department-filter")?.addEventListener("starwind-select:change", (event: Event) => {
    const selectChangeEvent = event as SelectChangeEvent;
    filters.department = selectChangeEvent.detail.label ?? "";
    renderJobs();
  });

  document.getElementById("location-filter")?.addEventListener("starwind-select:change", (event: Event) => {
    const selectChangeEvent = event as SelectChangeEvent;
    filters.location = selectChangeEvent.detail.label ?? "";
    renderJobs();
  });
</script>
