---
import BaseLayout from "@/components/layouts/BaseLayout.astro";
import JobCard from "@/components/open-roles/JobCard.astro";
import type { Job } from "@/components/open-roles/JobCardTypes";
import Prose from "@/components/starwind/prose";
import {
  Select,
  SelectContent,
  SelectGroup,
  SelectItem,
  SelectSearch,
  SelectTrigger,
  SelectValue,
} from "@/components/starwind/select";
import { site } from "@/content/site";
import { getCollection } from "astro:content";

const title = `Open roles — ${site.name}`;
const description = `Open roles at ${site.name}`;

const jobs: Job[] = (await getCollection("jobs")).map((job) => ({ id: job.id, ...job.data }));
const departments: string[] = [...new Set(jobs.map((job) => job.department))];
const locations: string[] = [...new Set(jobs.map((job) => job.location))];
---

<BaseLayout title={title} description={description}>
  <article class="content">
    <Prose class="max-w-full">
      <h1>Open positions</h1>

      <p class="max-w-[65ch]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
      </p>

      <section class="not-sw-prose flex flex-col gap-4 sm:flex-row">
        <Select id="department-filter" name="department" focusOnMobile={false}>
          <SelectTrigger class="w-full sm:w-60">
            <SelectValue placeholder="Select a department" />
          </SelectTrigger>
          <SelectContent>
            <SelectSearch placeholder="Search departments..." emptyText="No department found." />
            <SelectGroup>
              <SelectItem value="All">All</SelectItem>
              {departments.map((department: string) => <SelectItem value={department}>{department}</SelectItem>)}
            </SelectGroup>
          </SelectContent>
        </Select>

        <Select id="location-filter" name="location" focusOnMobile={false}>
          <SelectTrigger class="w-full sm:w-60">
            <SelectValue placeholder="Select a location" />
          </SelectTrigger>
          <SelectContent>
            <SelectSearch placeholder="Search locations..." emptyText="No location found." />
            <SelectGroup>
              <SelectItem value="All">All</SelectItem>
              {locations.map((location: string) => <SelectItem value={location}>{location}</SelectItem>)}
            </SelectGroup>
          </SelectContent>
        </Select>
      </section>

      <div id="open-roles" class="not-sw-prose grid gap-4 lg:grid-cols-2">
        {jobs.map((job) => <JobCard job={job} data-department={job.department} data-location={job.location} />)}
      </div>

      <div class="flex justify-center pt-6">
        <button id="see-more" class="text-primary-accent p-3 text-lg">See more</button>
      </div>
    </Prose>
  </article>
</BaseLayout>

<script>
  import type { SelectChangeEvent } from "@/components/starwind/select/SelectTypes";

  // Variables

  const parent = document.getElementById("open-roles");
  const jobCards = parent?.querySelectorAll<HTMLElement>("[data-department]") ?? [];

  const filters = {
    department: "",
    location: "",
  };

  const visibleLimitStep: number = 8;
  let visibleLimit: number = visibleLimitStep;

  // Functions

  function matchJobCard(jobCard: HTMLElement, department: string, location: string): boolean {
    const departmentData = jobCard.getAttribute("data-department");
    const locationData = jobCard.getAttribute("data-location");

    const departmentMatch = !department || department === "All" || departmentData === department;
    const locationMatch = !location || location === "All" || locationData === location;

    return departmentMatch && locationMatch;
  }

  function filterJobCards(): HTMLElement[] {
    const result: HTMLElement[] = [];

    const department = filters.department.trim();
    const location = filters.location.trim();

    jobCards.forEach((jobCard) => {
      const jobCardMatch = matchJobCard(jobCard, department, location);

      if (jobCardMatch) {
        result.push(jobCard);
      }
    });

    return result;
  }

  function updateSeeMoreButton(total: number) {
    const seeMore = document.getElementById("see-more");

    if (!seeMore) return;

    if (visibleLimit >= total) {
      seeMore.hidden = true;
    } else {
      seeMore.hidden = false;
    }
  }

  function renderJobCards(filteredJobCards: HTMLElement[]) {
    jobCards.forEach((jobCard) => (jobCard.hidden = true));
    filteredJobCards.slice(0, visibleLimit).forEach((jobCard) => (jobCard.hidden = false));
    updateSeeMoreButton(filteredJobCards.length);
  }

  function updateJobCards() {
    visibleLimit = visibleLimitStep;
    renderJobCards(filterJobCards());
  }

  // Calls and Events

  updateJobCards();

  document.getElementById("see-more")?.addEventListener("click", () => {
    visibleLimit += visibleLimitStep;
    renderJobCards(filterJobCards());
  });

  document.getElementById("department-filter")?.addEventListener("starwind-select:change", (event: Event) => {
    const selectChangeEvent = event as SelectChangeEvent;
    filters.department = selectChangeEvent.detail.label ?? "";
    updateJobCards();
  });

  document.getElementById("location-filter")?.addEventListener("starwind-select:change", (event: Event) => {
    const selectChangeEvent = event as SelectChangeEvent;
    filters.location = selectChangeEvent.detail.label ?? "";
    updateJobCards();
  });
</script>
